body {
    background-image: url(../images/fresh_snow_@2X.png);
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}
header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: #395e60;
}

.container-fluid {
    /* padding-left: 50px; */
    padding: 0;
}
.navbar {
    padding: 0;
}

a {
    color: inherit;
}

.icon {
    width: 30px;
    filter: invert(100%);
}

#portfolio-icon {
    width: 35px;
}

.nav-item {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    padding: 0;
}

#collapsed-nav {
    color: #395e60;
}

#home {
    height: 100vh;
}

.section-title {
    text-align: center;
    width: 100%;
    background-color: gray;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about-body {
    padding: 10px;
    padding-top: 0;
}

#content {
    margin: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    font-family: 'Quicksand', sans-serif;
}

#profile-pic {
    width: 20%;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #395e60;
}

.row {
    width: 100%;
    margin:0;
}

.cards {
    margin-bottom: 10px;
}
.modal {
    width: 100%;
    margin: auto;
    font-size: 16px;
    top: 0;
    left: 0;
  }

.modal-dialog {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    padding-left: 0;
    padding-right: 0;
}

.modal-body {
    padding-left: 0;
    padding-right: 0;
    clear: both;
}

#resume {
    width: 80%;
    height: 700px;
    margin-left: 10%;
    margin-top: 20px;
}

  #projects {
      margin-top: 10px;
  }
  .project_images {
      width: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 0;
  }

  .project_name {
      text-decoration: none;
      position: relative;
      top: -120px;
      background-color: #395e60;
      color: white;
      width: 100%;
      padding: 20px;
  }

  .github-repo {
      margin-top: 0;
      line-height: 1;
      text-decoration: underline;
      position: relative;
      top: -60px;
  }

  .github-repo:hover {
      font-weight: bold;
  }

  .project-div {
      display: inline-block;
      margin-right: 20px;
      margin-top: 20px;
      width: 300px;
      height: 350px;
  }

  .card-title {
      position: absolute;
      top: 175px;
      background-color: #395e60;
      color: white;
      padding: 15px;
      width: 100%;
  }

  .card-img-overlay {
      padding: 0;
  }

  #Hangman {
      float: left;
      word-wrap: break-word;
  }

  #Crystal {
    float: left;  
    word-wrap: break-word;
  }

  #Trivia {
      float: left;
  }

  #RouteVisor {
      float: left;
  }

  #Train {
      float: left;     
  }

  .contact-image {
      width: 30px;
      float: left;
      margin-right: 10px;
  }

  #email-address {
      margin: 0;
      padding-top: 5px;
  }

  #phone-image {
      clear: both;
      float: left;
      margin-top: 5px;
  }

  .contact-info {
      word-wrap: break-word;
  }
@media screen and (max-width:768px) {
    header {
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        text-align: left;
        background-color: transparent;
    }

    .nav-item {
        display: inline-block;
        margin-left: 10px;
    }

    .icon {
        filter: none;
        color: #395e60;
    }
    ul {
        margin-bottom: 0;
        height: 50px;
    }

    #portfolio-link {
        padding-bottom: 3px;
    }

    .container-fluid {
        padding: 0;
    }

    #content {
        width: 100%;
        padding-top: 75px;
    }

    #profile-pic {
        width: 147px;
    }

    .section-title {
        padding-top: 70px;
    }
    .card {
        margin: auto;
    }
    .project-div {
        margin-left: 23%;
    }
}

@media screen and (max-width: 425px) {
    header {
        text-align: center;
    }

    .project_images {
        width: 250px;
    }

    .project-div {
        margin-left: 0;
        height: 300px;
        width: 250px;
    }

    #Hangman {
        margin-top: 10px;
    }
  
    #Crystal {
        margin-top: 20px;
    }
  
    #Trivia {
        margin-top: 20px;
    }
  
    #RouteVisor {
        margin-top: 20px;
    }
  
    #Train {
        margin-top: 20px;
    }

    #Gif {
        margin-top: 20px;
    }

    #resume {
        width: 100%;
        height: 450px;
        margin-left: 0;
    }
    #linkedin-image {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:374px) {
    .project-div {
        width: 200px;
        height: 250px;
    }

    .project_images {
        width: 200px;
    }

    .github-repo {
        top: -80px;
    }

    .adjusted {
        top: -65px;
    }

    .contact-image {
        display: block;
        clear: both;
        margin: auto;
    }

    .contact-info {
        display: block;
        clear: both;
    }

    #linkedin-image {
        margin-bottom: 0;
    }

    .contact-row {
        align-content: center;
    }

    /* .iPhone-breakpoint {
        display: none;
    } */

}